body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* White background */
    color: #333; /* Dark text color */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333; /* Light gray container background */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: crimson;
}

.publication-list {
    list-style-type: none;
    padding: 0;
    color:#ccc;
}

.publication-list li {
    margin-bottom: 20px;
    line-height: 1.6;
}

.publication-list strong {
    font-weight: bold;
    color:crimson;
}

.publication-list a {
    color: #007bff; /* Blue link color */
    text-decoration: none;
}

.publication-list a:hover {
    text-decoration: underline;
}
